.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectHeaders{
    margin-bottom: 1px;
}

#flightSelect {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#reservationMaker {
    display: flex;
    align-items: start;
    flex-direction: column;
}

#reservationMaker label {
    display: flex;
    align-items: start;
    flex-direction: column;
}