.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectHeaders{
    margin-bottom: 1px;
}

#reservationSelect {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#reservationMaker {
    display: flex;
    align-items: start;
    flex-direction: column;
}

#reservationMaker label {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.topbutton {
    min-width: 200px;
    align-self: flex-end;
}


select {
    min-width: 500px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.buttons button {
    margin: 20px;
}